:root {
    --modal-duration: 0.8s;
  }

header img {
    width: 200px;
    height: 50px;
    margin: 0 100px;

}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    height: 313px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.photograph-header__article {
    align-self: center;
}

.photograph__price {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: -10px;
    margin-right: 36px;
    background-color: #DB8876;
    width: 376px;
    height: 89px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.photograph__price div {
    margin-left: 31px;
}

#photograph__span {
    font-size: 24px;
    line-height: 31.25px;
    font-weight: 500;
    text-align: right;
    width: 87px;
    height: 31px;
}

.photograph__priceDay {
    font-size: 24px;
    font-weight: 500;
    line-height: 31.25px;
    text-align: center;
    margin-right: 34px;
}

#photograph__like {
    width: 17.5px !important;
    height: 18.35px !important;
    color: black !important;
}

.photograph-header__h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 83.33px;
    color: #D3573C;
    margin: 0;
    height: 83px;
    width: 282px;
}

.photograph-header__h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 31.25px;
    margin: 0;
    height: 31px;
    width: 124px;
    color: #901C1C;
}

.photograph-header__p {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.44px;
    margin: 0;
    height: 23px;
    width: 348px;
    color: #525252;
}

.photograph-header__img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    align-self: center;
}

.media-sort {
    margin: 20px 100px;
    
}

.media-sort span {
    width: 74px;
    height: 23px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.44px;
}

.media-sort__select {
    background-color: #901C1C;
    width: 170px;
    height: 69px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.44px;
    color: white;
}
}

.media-sort__option {
    font-weight: 700;
    width: 90px;
    height: 23px;
    font-size: 18px;
    line-height: 23.44px;
}

.galerie {
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
}

.galerie__div--flex {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.galerie__span {
    font-weight: 400;
    font-size:16px;
    line-height: 18.75px;
    align-self: center;
}

.galerie img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.galerie video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.galerie__p {
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    width: 292px;
    height: 31px;
    color: #901C1C;
}

.galerie__icone {
    width: 17.5px !important;
    height: 18.35px !important;
    color: #901C1C;
    vertical-align: middle !important;
    margin-left: 6.38px;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 10;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #C4C4C466;
    mix-blend-mode: normal;
filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 26.04px;
}

.send_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    align-self: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 26.04px;
}

.modal {
    border-radius: 5px;
    margin: 5% auto;
    background-color: #DB8876;
    animation-name: modalopen;
  animation-duration: var(--modal-duration);
    width: 100%;
    max-width: 669px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    width: 42px;
    height: 42px;
    margin: 0;
}

.modal header h2 {
    font-size: 64px;
    font-weight: 400;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form h3 {
    width: 282px;
    height: 83px;
    margin-top: 0;
    font-size: 64px;
    font-weight: 400;
    line-height: 83px;
}
form label {
    color: #312E2E;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
    padding-left: 3px;
}

form textarea {
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
    padding-left: 3px;
}

.errorform {
    color: red;
    font-size: 28px;
}

#lightbox {
    display: none;
    position: fixed;
    z-index: 10;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #E5E5E5;
    mix-blend-mode: normal;
    filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
}

#lightbox-modal {
    margin: 40px 86px 0px 86px;
    height: 100%;
    width: 86%;
    border: 2px solid #95FFF9;

}

.lightbox-close {
    position: absolute;
    right: 110px;
    top: 60px;
}

.lightbox-left {
    position: absolute;
    top: 400px;
    left: 110px;
}

.lightbox-right {
    position: absolute;
    top: 400px;
    right: 110px;
}

.lightbox-img {
    margin: 22px 109px 2px 94px;
    width: 85% !important;
    height: 90%;
    object-fit: cover;
}

@keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }