:root {
    --modal-duration: 0.8s;
  }

header img {
    width: 200px;
    height: 50px;
    margin: 0 100px;
    transition: all 400ms;
}

header img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1025px) {
    header img {
        margin: 0 50px;
    }
}

@media screen and (max-width: 825px) {
    .header img {
        margin: 0 20px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        display: flex !important;
    }

    header img {
        margin: unset;
    }

    header a {
        margin: 0 auto;
    }
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    height: 313px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1025px) {
    .photograph-header {
        margin: 0 50px;
    }
}

@media screen and (max-width: 825px) {
    .photograph-header {
        margin: 0 20px;
        padding: 20px;
    }
}

@media screen and (max-width: 767px) {
    .photograph-header {
        display: block;
        margin: 0 auto !important;
        padding: 0px;
    }
}

.photograph-header__article {
    align-self: center;
}

.photograph__price {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: -10px;
    margin-right: 36px;
    background-color: #DB8876;
    width: 376px;
    height: 89px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.photograph__price div {
    margin-left: 31px;
}

#photograph__span {
    font-size: 24px;
    line-height: 31.25px;
    font-weight: 500;
    text-align: right;
    width: 87px;
    height: 31px;
    margin-right: 10px;
}

.photograph__priceDay {
    font-size: 24px;
    font-weight: 500;
    line-height: 31.25px;
    text-align: center;
    margin-right: 34px;
}

@media screen and (max-width: 467px) {
    .photograph__price {
        width: 100%;
        right: unset;
    }
}

#photograph__like {
    width: 17.5px !important;
    height: 18.35px !important;
    color: black !important;
}

.photograph-header__h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 63.33px;
    color: #D3573C;
    margin-bottom: 20px !important;
    margin: 0;
}

.photograph-header__h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 31.25px;
    margin: 0;
    color: #901C1C;
}

.photograph-header__p {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.44px;
    margin: 0;
    color: #525252;
}

.photograph-header__img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0px 7px 13px 0px black;
    object-fit: cover;
    align-self: center;
}

.articleContact, .articleImg {
    align-self: center;
}

@media screen and (min-width: 1440px) {
    .photograph-header__img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 1025px) {
    .photograph-header__img {
        width: 175px;
        height: 175px;
    }

    .photograph-header__h1 {
        font-size: 59px;
        width: unset;
        max-width: 380px;
    }

    .photograph-header__h2 {
        font-size: 22px;
        width: unset;
    }
    
    .photograph-header__p {
        font-size: 16px;
        width: unset;
    }
}

@media screen and (max-width: 850px) {
    .photograph-header__img {
        width: 150px;
        margin-top: 20px;
        height: 150px;
    }

    .photograph-header__h1 {
        font-size: 54px;
        line-height: 60.33px;
        padding-top: 20px;
    }
    
    .photograph-header__h2 {
        font-size: 20px;
    }
    
    .photograph-header__p {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .photograph-header {
        padding-bottom: 30px;
        height: unset;
    }

    .articleContact, .articleImg {
        text-align: center;
    }

    .photograph-header__img {
        width: 150px;
        margin-top: 20px;
        height: 150px;
    }

    .photograph-header__h1 {
        font-size: 54px;
        text-align: center;
        width: unset;
        max-width: unset;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }
    
    .photograph-header__h2 {
        font-size: 20px;
        text-align: center;
        width: unset;
        line-height: unset;
        margin-top: -5px;
    }
    
    .photograph-header__p {
        font-size: 14px;
        text-align: center;
        width: unset;
        margin-bottom: 20px;
    }
}

.media-sort {
    margin: 20px 100px;
    display: flex;
}

.media-sort img {
    position: relative;
    left: 135px;
    width: 16px;
    height: 10px;
    top: 29px;
    transform: rotate(180deg);
    position: relative;
    z-index: 2;
}

.sort-icon {
    transform: rotate(360deg) !important;
    cursor: pointer;
}

.sort-icon:hover {
    transform: scale(1.5) !important;
}

button[type="button"] {
    border: none;
    text-align: left;
    padding-left: 30px;
}

.media-sort p{
    font-weight: 700;
    font-size: 18px;
    line-height: 23.44px;
    margin-right: 30px;
}

.media-abso {
    position: absolute;
    margin-left: 100px;

}

@media screen and (max-width: 1025px) {
    .media-sort {
        margin: 20px  50px;
    }
}

@media screen and (max-width: 400px) {
    .media-sort p{
        margin-left: -30px;
        min-width: 75px;
    }

    .media-sort img {
        left: 155px;
    }
}

.media-sort__div, .media-sort div {
    display: flex;
    flex-direction: column;
    background-color: #901C1C;
    border-radius: 5px;
    
}

.media-sort__div {
    position: relative;
    z-index: 1;
}

.media-sort__hidden {
    display: none;
}

.sort-line {
    background-color: white;
    text-align: center;
    height: 1px;
    width: 90%;
    margin: 0 auto;
}

.media-sort__select, .media-sort__option {
    background-color: #901C1C;
    width: 170px;
    height: 69px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.44px;
    color: white;
    cursor: pointer;
}

.media-sort__select:hover, .media-sort__option:hover {
    transform: scale(1.05);
}

.galerie {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 20px;
    grid-auto-flow: row;
    justify-content: space-between;
    margin: 50px 100px 100px 100px;
}

@media screen and (max-width: 1099px) and (min-width: 851px) {
    .galerie {
        grid-template-columns: 350px 350px;
        justify-content: space-between;
        gap: 60px;
        margin: 0 50px 75px 50px;
    }
}

@media screen and (max-width: 850px) {
    .galerie {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 20px;
    grid-auto-flow: row;
    justify-content: space-between;
    margin: 100px 100px;
    }

    .galerie__div--flex {
        width: 250px !important;
    }

    .galerie__span {
        width: 70px !important;
    }

    .galerie__img, .galerie__video {
        width: 250px !important;
        height: 200px !important;
    }
}

@media screen and (max-width: 767px) {
    .galerie {
        grid-template-columns: 1fr !important;
        margin-top: 80px;
        margin: 0 auto 100px auto;
        gap: 35px;
        width: 250px;
    }

    .galerie__img, .galerie__video {
        width: 250px !important;
        height: 200px !important;
    }

    .galerie__icone {
        width: 17.5px !important;
        height: 18.35px !important;
    }

    .galerie__div--flex {
        width: 250px !important;
    }

    .galerie__span {
        width: 70px !important;
    }

    .galerie__p {
        width: 0px;
        font-size: 18px !important;
    }

    .galerie > div {
        margin-right: 0px !important;
        margin-bottom: 0px !important;
    }
}

.galerie > div {
    margin-right: 80px;
    margin-bottom: 30px;
    cursor: pointer;
}

.galerie__div--flex {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.galerie__span {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    align-self: center;
}

.galerie img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 400ms;
}

.galerie img:hover {
    transform: scale(1.07);
}

.galerie video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 400ms;
}

.galerie video:hover {
    transform: scale(1.07);
}

.galerie__p {
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    width: 292px;
    height: 31px;
    color: #901C1C;
}

.galerie__icone {
    width: 17.5px !important;
    height: 18.35px !important;
    color: #901C1C;
    vertical-align: middle !important;
    margin-left: 6.38px;
}

.like {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 400ms;
}

.like:hover {
    transform: scale(1.05);
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 10;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #C4C4C466;
    mix-blend-mode: normal;
    filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 26.04px;
    margin-right: 90px;
    transition: all 400ms;
}

.contact_button:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1025px) {
    .contact_button {
        margin-right: 60px;
    }
}

@media screen and (max-width: 850px) {
    .contact_button {
        margin-right: 40px;
    }
}

@media screen and (max-width: 767px) {
    .contact_button {
        width: unset;
        margin-right: 0px;
    }
}

.send_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    line-height: 26.04px;
}

.modal {
    border-radius: 5px;
    margin: 5% auto;
    background-color: #DB8876;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    width: 100%;
    max-width: 669px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    width: 42px;
    height: 42px;
    margin: 0;
    transition: all 400ms;
}

.modal header img:hover {
    transform: scale(1.1);
}

.modal header h2 {
    font-size: 64px;
    font-weight: 400;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form h3 {
    height: 83px;
    margin-top: 0;
    font-size: 64px;
    font-weight: 400;
    line-height: 83px;
}
form label {
    color: #312E2E;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
    padding-left: 3px;
}

form textarea {
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
    padding-left: 3px;
}

.errorform {
    font-size: 28px;
    color: white;
    background: red;
    margin-top: 5px;
    border-radius: 5px;
    padding-left: 5px;
}

@media screen and (max-width: 767px) {
    .modal header {
        height: 80px;
    }

    form label, form input {
        font-size: 24px;
    }

    form h3 {
        font-size: 40px;
        text-align: left;
        height: unset;
        line-height: unset;
        margin: 0;
        margin-bottom: 10px;
    }

    .modal header h2 {
        font-size: 40px;
        text-align: left;
        line-height: 40px;
        margin: 0px;
    }

    .modal header img {
        cursor: pointer;
        width: 32px;
        height: 32px;
        margin: 0;
        position: absolute;
        top: 20px;
        right: 15px;
    }

    .send_button {
        margin: 0 auto;
    }

    .errorform {
        font-size: 20px;
    }
}

#lightbox {
    display: none;
    position: fixed;
    z-index: 10;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #E5E5E5;
    mix-blend-mode: normal;
    filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
}

#lightbox-modal {
    margin: 10px auto 0px auto;
    height: 100%;
    width: 1200px;
    border: 2px solid #95FFF9;

}

.lightbox-name {
    margin: 0px 0px 10px 94px;
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}

.lightbox-close {
    position: relative;
    right: -1120px;
    top: 20px;
    cursor: pointer;
    transition: all 400ms;
}

.lightbox-left {
    position: relative;
    top: 300px;
    margin-left: -20px;
    left: -10px;
    cursor: pointer;
    transition: all 400ms;
}

.lightbox-right {
    position: relative;
    top: 300px;
    right: -1065px;
    cursor: pointer;
    transition: all 400ms;
}

.lightbox-close:hover {
    transform: scale(1.1);
}

.lightbox-left:hover {
    transform: scale(1.1);
}

.lightbox-right:hover {
    transform: scale(1.1);
}

.lightbox-img {
    margin: -35px 109px 2px 94px;
    width: 1000px !important;
    height: 90%;
    object-fit: cover;
}

@media screen and (min-width: 1907px) {
    #lightbox-modal {
        margin: 10px auto 0px auto;
        height: 100%;
        width: 1500px;
        border: 2px solid #95FFF9;
    
    }
    .lightbox-img {
        margin: -35px 109px 2px 94px;
        width: 1300px !important;
        height: 90%;
        object-fit: cover;
    }

    .lightbox-right {
        position: relative;
        top: 450px;
        right: -1365px;
        cursor: pointer;
    }

    .lightbox-left {
        top: 500px;
    }

    .lightbox-close {
        position: relative;
        right: -1420px;
        top: 20px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1307px) {
    #lightbox-modal {
        width: 1000px;
    }
    .lightbox-img {
        width: 800px !important;
    }

    .lightbox-right {
        right: -865px;
    }
    .lightbox-close {
        right: -920px;
    }
}

@media screen and (max-width: 1107px) {
    #lightbox-modal {
        width: 800px;
    }
    .lightbox-img {
        width: 600px !important;
    }
    .lightbox-right {
        right: -665px;
    }

    .lightbox-close {
        right: -720px;
    }
}

@media screen and (max-width: 907px) {
    #lightbox-modal {
        width: 600px;
    }
    .lightbox-img {
        width: 400px !important;
    }

    .lightbox-right {
        right: -465px;
    }

    .lightbox-close {
        right: -520px;
    }
}

@media screen and (max-width: 650px) {
    #lightbox-modal {
        width: 100%;
        border: 0;
        margin: 0;
        height: 80%;
    }
    .lightbox-img {
        width: 100% !important;
        height: 100%;
        margin: 0;
        left: 0;
        top: 0;
    }
    .lightbox-name {
        margin: 0px 0px auto 10px;
    }
    .lightbox-right {
        left: 130px;
        top: 90%;
        position: absolute;
    }
    .lightbox-left {
        left: 30px;
        top: 90%;
        position: absolute;
    }
    .lightbox-close {
        position: absolute;
        right: 20px;
        top: 90%;
    }
}

@keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }